/*
░░░░░░░░░░░░░░░░░░░░░░░░░░░
❕Aither 𝘛𝘩𝘦𝘮𝘦 : 𝘓𝘢𝘴𝘵 𝘜𝘱𝘥𝘢𝘵𝘦: 27/04/2025  
▫️𝘔𝘰𝘥𝘪𝘧𝘪𝘤𝘢𝘵𝘪𝘰𝘯𝘴 : @𝙎𝙚𝙧𝙖𝙥𝙝4
░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

.alert {
    color: #feb100;
    font-family: JetBrains Mono;
    background: #27292d url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/aither-bg.svg');
    background-size: 130px;
    font-size: 14px;
    padding: 0px;
}

body {
    background-image: url(https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/aither-bg.svg);
}

.topic-listing--read .topic-listing__heading {
    font-weight: 400;
    font-family: Roboto;
}

.topic-listing--read {
    font-weight: 600 !important;
}

.fa::before,
.fas::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 14px;
}


.post__tip-input {
    margin: 5px 5px 2px 9px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--post-toolbar-bg);
    color: var(--post-toolbar-fg);
    width: 72px;
    background-color: #2e3440;
    text-align: right;
    border-radius: 8px;
}

.post__author-title {
    grid-area: title;
    font-size: 13px;
    text-align: center;
    word-break: normal;
    overflow-wrap: anywhere;
    color: #02ffcaa1;
    float: right;
    background: #ffffff17;
    border-radius: 5px;
    font-family: JetBrains Mono;
    line-height: 16px;
}

.form__button--filled {
    background: #0c4b49;
    color: var(--button-filled-fg);
    border: var(--button-filled-border);
    border-radius: var(--button-filled-border-radius);
    font-family: JetBrains Mono;
}

.torrent-search--list__name {
    grid-area: name;
    font-size: 16px;
    color: var(--torrent-row-fg);
    font-family: JetBrains Mono;
    word-spacing: -4px;
}

.torrent__name {
    color: #fff;
    background: radial-gradient(circle at top right, #3b4252, #64e0eb24, #3b4252);
    border-radius: 10px;
    font-family: Roboto;
    border: 2px solid #3b4252;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
}

.form__button--filled {
    background: #166d6b;
    color: var(--button-filled-fg);
    border: var(--button-filled-border);
    border-radius: var(--button-filled-border-radius);
}

.top-nav__dropdown>a>.top-nav--left__container {
    display: grid;
    align-items: center;
    position: relative;
    font-family: JetBrains Mono;
    font-size: 17px;
}

.top-nav__ratio-bar.top-nav__ratio-bar {
    display: grid;
    gap: 1px 12px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
    grid-auto-flow: column;
    font-size: 13px;
    list-style-type: none;
    color: var(--top-nav-ratio-bar-fg);
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-weight: 400;
    background: #3b4252;
    border-radius: 5px;
    border-left: solid 1px rgb(19, 20, 29);
    border-right: solid 1px rgb(19, 20, 29);
    border-top: solid 1px rgb(19, 20, 29);
    border-bottom: solid 1px rgb(19, 20, 30);
    background: #27292d url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/aither-bg.svg');
    background-size: auto;
    background-size: 130px;
}

.form__button--outlined {
    background: var(--button-outlined-bg);
    color: var(--button-outlined-fg);
    border: var(--button-outlined-border);
    border-radius: var(--button-outlined-border-radius);
    background: #272c36b5;
    font-family: Roboto;
    font-weight: 400;
}

.fa::before,
.fab::before,
.fad::before,
.fal::before,
.far::before,
.fas::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
}

.subforum-listing__latest-heading {
    font-size: 14px;
    white-space: nowrap;
    background: #ffffff17;
    border-radius: 5px;
    max-width: max-content;

}

.post__aside {
    grid-area: aside;
    padding: 9px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #2e34408f;
    color: var(--post-aside-fg);
}

.top-nav__dropdown>ul>li>a,
.top-nav__dropdown>ul>li>form>button {
    color: var(--top-nav-dropdown-menu-item-fg);
    font-size: 15px;
    text-decoration: none;
    padding: 6px 90px 6px 6px;
    white-space: nowrap;
    height: 100%;
    display: grid;
    grid-template-columns: 30px auto;
    column-gap: 10px;
    align-items: center;
    line-height: 15px;
    background: var(--top-nav-dropdown-menu-item-bg);
    outline: none;
    width: 100%;
    border: none;
    text-align: left;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    font-family: JetBrains Mono;
}

.post__author-topics dt,
.post__author-posts dt {
    font-weight: 500;
    font-family: Roboto;
}

.text-green {
    color: #3fb618;
    font-size: 15px;
    font-family: Roboto;
}

.text-red {
    color: #ff0039;
    font-size: 15px;
    font-family: Roboto;
}

.text-orange {
    color: #ff7518;
    font-size: 15px;
    font-family: Roboto;
}

th.similar-torrents__type {
    background-color: initial;
    font-size: 13px;
    font-weight: 400;
    padding: 0px 1px;
    min-height: 36px;
    vertical-align: middle;
    grid-area: type;
    white-space: nowrap;
    background: #ffffff17;
    font-family: Roboto;
    background: radial-gradient(circle at top right, #3b4252, #3b4252, #3b4252);
}

.post__datetime::before {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/time-post.svg');
    vertical-align: -1px;
    margin-left: 2px;
    margin-right: 2px;
}

.torrent-card__header,
.torrent-card__footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 11px;
    color: var(--torrent-card-head-fg);
    background-color: #2e3440;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.footer__copyright {
    grid-area: copyright;
    margin: 0;
    font-size: 12px;
    text-align: right;

}

.footer__stats {
    grid-area: stats;
    font-size: 12px;
    margin: 0;
    text-align: right;

}

.pagination {
    margin: 0;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    background-color: #2c323d;
}

.similar-torrents__torrents {
    border-collapse: collapse;
    background: #3b4252b2 !important;
}

.meta {
    display: grid;
    grid-template-areas:
        "poster title       actions    "
        "poster ids         ids        "
        "poster description description"
        "poster chips       chips      ";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto minmax(0, 1fr);
    gap: 16px 32px;
    padding: 16px;
    max-height: 510px;
    background: #3b42525e;
    border-radius: 10px;
}

.torrent__activity-link {
    background: #3b42525e;
    border-radius: 10px;
}

.top-nav__right {
    grid-area: right;
    display: flex;
    column-gap: 20px;
    justify-content: end;
}


.topic-listing__latest-post-link {
    font-size: 13px;
    font-family: Roboto;
    background: radial-gradient(circle at top right, #23d1a508, #157d631c) !important;
    border-bottom: thin solid #324041a1;
    border-right: thin solid #324041a1;
    border-left: thin solid #324041a1;
    border-top: thin solid #324041a1;
}

.topic-listing {
    color: var(--panel-fg);
    font-family: Roboto;
    border: 1px solid #3b4252;
}

.breadcrumb--active {
    color: var(--breadcrumb-active-fg);
    font-family: Roboto;
}

.panel__actions {
    background-color: inherit;
    color: #d8dee9;
    text-transform: revert-layer !important;
    font-size: 12px;
    font-weight: 700;
}

.torrent-search__component {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.torrent-search--grouped__dropdown>summary::before {
    font-family: "Font Awesome 5 Pro", sans-serif;
    color: var(--torrent-group-text);
    font-size: 16px;
    display: inline-block;
    padding: 0 6px;
    color: springgreen;
}

.top-nav__site-logo {
    background-color: #4281da;
    -webkit-text-fill-color: #8d8aac00;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: radial-gradient(circle, #15e1ed, #af63e4 44%, #8d00ff 86%);
    font-weight: 400;
    font-size: 2.9rem;
    text-shadow: rgba(52, 160, 230, .55) 0 0 1px;
    font-family: JetBrains Mono;
    text-transform: uppercase;
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
    transition: all .3s;
}

.secondary-nav {
    grid-template-columns: 1fr auto 1fr;
    background: radial-gradient(circle at top right, #3b4252, #252a34) !important;
    margin: 0;
    padding: 0 18px;
    column-gap: -4px;
    border-bottom: 2px solid #3b4252;
    border-top: 2px solid #3b4252;

}

.panel__tab {
    color: #81a1c1;
    font-family: Roboto;
    font-weight: 500;
}

.top-users__place {
    border-radius: 50%;
    background: #2e3440;
    border: 1px solid #0beac5;
    height: 28px;
    line-height: 27px;
    width: 30px;
    box-shadow: 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f, 0 5px 5px -3px #0003;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    font-family: Roboto;
}

.nav-tabsV2 {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    margin-top: -6px;
}

.panel__tab--active {
    color: #88c0d0;
    border-bottom: 2px solid #88c0d0;
    border-top: 2px solid #88c0d0;
    background: #343a48;
    border-left: 2px solid;
    border-right: 2px solid;
    border-radius: 10px;
}

.topic-listing__post-stats dt {
    font-weight: 400;
    font-size: 13px;
}

.torrent-search--grouped__size {
    grid-area: size;
    width: 8.5%;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 100vh;
    margin-top: 26px;
    background: #232833c7;
    border-top: 3px solid #3b4252;
}

.nav-tab__link,
.nav-tab--active__link {
    margin-top: 6px;
    padding: 7px 27px;
    white-space: nowrap;
    display: inline-block;
    color: #43a4fb;
    background-color: var(--secondary-nav-tab-bg);
    font-size: 14px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-family: Roboto;
    background: #3b4252;
}

.bbcode-rendered.bbcode-rendered blockquote {
    margin-left: 2px;
    margin-right: 2px;
    padding: .25em .25em .25em 1em;
    color: var(--bbcode-rendered-fg-muted);
    border-left: .25em solid #2c323d;
    font-size: 15px;
    background-color: var(--bbcode-rendered-quote-bg);
    border-radius: 6px;
    border-right: .25em solid #2c323d;
}

.topic-listing--unread {
    font-weight: 600;
    font-family: Roboto;
}

.topic-listing--unread .topic-listing__heading a::before {
    font-weight: 600;
    content: url("https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/star-of-life-solid(1).svg");
}

.post__author-join,
.post__author-topics,
.post__author-posts {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 0;
    font-family: Roboto;
    background: radial-gradient(circle at top right, #2e3440, #434c5e) !important;
}

.torrent__tags li:not(:last-child)::after {
    content: "▫️";
    display: inline-block;
    margin-left: -.5ch;
}

.profile__username {
    grid-area: username;
    font-size: 18px;
    font-family: JetBrains Mono;
    border-radius: 5px;
    max-width: max-content;
    background: radial-gradient(circle at top right, #252a346b, #3b4252) !important;
}

.panel__action .form__button {
    background: #434c5e;
    font-family: Roboto;
    font-weight: 500;
    color: #90e2ad;
}


.user-peers {
    margin: 0 calc(-1*max(0px, 10vw - 100px));
    width: max-content;
    align-self: center;
}

.pagination__next {
    width: 90px;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: var(--paginate-fg);
    background-color: #272d37;
    text-align: center;
    display: block;
    font-family: Roboto;

}

.pagination__previous {
    width: 90px;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: var(--paginate-fg);
    background-color: #272d37;
    text-align: center;
    display: block;
    font-family: Roboto;

}

.user-stat-card {
    background: var(--user-stat-card-bg);
    border: var(--user-stat-card-border);
    border-radius: var(--user-stat-card-border-radius);
    box-shadow: var(--user-stat-card-box-shadow);
    padding: 16px;
    display: grid;
    gap: 4px 16px;
    grid-template-areas:
        "avatar username"
        "avatar stat    ";
    grid-template-columns: auto 1fr;
    box-shadow: rgb(19, 20, 29) 0px 5px 15px;
}

.bbcode-input__icon-bar-toggle {
    grid-area: toggle;
    border-top-right-radius: var(--bbcode-input-border-radius);
    margin: 0;
    background: #2f3541;
}

.bbcode-input__tabs {
    grid-area: tabs;
    border-top-left-radius: var(--bbcode-input-border-radius);
    display: flex;
    align-items: center;
    margin: 0;
    background: #333a47;
}

.bbcode-input__icon-bar {
    grid-area: buttons;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: #13141d;
}

.page__forum--topic>article>div>section>.panel__header>.panel__heading {
    font-size: 16px;
    text-transform: initial;
    background: #343a48b0;
    border-radius: 5px;
}

.topic-tag--implemented {
    background-color: rgba(162, 238, 239, 0.3);
    color: var(--forum-tag-implemented-fg);
    font-family: Roboto;
    font-weight: 400;
    vertical-align: 2px;
    height: 16px;
}

.topic-tag--denied {
    background-color: rgba(19, 20, 29, 0.34);
    color: #e10101;
    font-family: Roboto;
    font-weight: 400;
    vertical-align: middle;
    max-height: 17px;
}

.dialog--auto-width {
    width: max-content;
    left: 0;
    right: 0;
    border: 2px solid #88c0d096;
    background: #3b4252;
    padding: revert;
}

.dialog__action {
    flex-shrink: 0;
    color: #7dafbf;
    font-size: 14px;
    background-color: var(--dialog-head-bg);
    font-family: Roboto;
}

.form__textarea {
    background-color: inherit;
    border: var(--textarea-border);
    border-radius: var(--textarea-border-radius);
    color: var(--textarea-fg);
    font-size: 14px;
    font-weight: 400;
    max-width: 100%;
    outline: none;
    padding: var(--textarea-padding);
    width: 100%;
    font-family: JetBrains Mono;
}

.nav-tab-menu__items {
    margin-left: 12px;
    display: none;
    position: absolute;
    top: 95px;
    flex-direction: column;
    align-items: stretch;
    padding: 8px 0;
    background-color: #3b4252;
    border: var(--secondary-nav-tab-menu-border);
    border-radius: var(--secondary-nav-tab-menu-border-radius);
    box-shadow: var(--secondary-nav-tab-menu-box-shadow);
    list-style-type: none;
    z-index: 1000;
    margin-top: -15px;
}

.achievement {
    color: var(--achievement-fg);
    border-radius: 9px !important;
}

progress {
    vertical-align: baseline;
    border-radius: 9px;

}

.panelV2.achievements__unlocked {
    background: #5daa0017;
    color: #feb100;
    border-radius: 10px
}

.panelV2.achievements__pending {
    background: #fb00000f;
    color: #feb100;
    border-radius: 10px
}

.panel__heading {
    background-color: var(--panel-head-bg);
    color: var(--panel-head-fg);
    display: block;
    margin: 0;
    padding: 7px 5px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px 10px 0 0px;
    max-width: max-content;
    font-family: Roboto;
}

.torrent__tags {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    list-style-type: none;
    align-items: baseline;
    font-size: 14px;
    justify-content: center;
    background: radial-gradient(circle at top right, #3b42526e, #2c31319e, #3b425273);
    border-radius: 10px;
}

.torrent__category a::before {
    font-weight: 600;
    content: url("https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/hashtag-solid.svg");
}

.torrent__tags>li>time {
    color: var(--torrent-tag-fg);
    padding: 6px 12px;
    display: inline-block;
    font-weight: 400;
    font-family: Roboto;
}

.torrent__tags>li>time::before {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/clock-time.tolltip.svg');
    vertical-align: -1px;
    margin-left: 2px;
    margin-right: 2px;
}

.post__header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "datetime topic . tip-stats toolbar";
    grid-template-columns: auto auto 1fr auto auto;
    align-items: center;
    gap: 9px;
    font-size: 13px;
    color: #fff;
    background-color: #3a4352;
    padding-left: 9px;
    border-bottom: 1px solid #333a48;
}

.post__toolbar {
    font-size: 13px;
    color: var(--post-toolbar-fg);
    border-radius: 0 5px 0 0px;
}

.post__toolbar-item {
    list-style-type: none;
    font-family: Roboto;
}

.post__tip-button:hover {
    color: var(--post-toolbar-hover-fg);
    background: #13141d8f;
}

.post__tip-button::after {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/paper-plane-regular.svg');
    vertical-align: -2px;
    margin-left: 2px;
    margin-right: 2px;
}

.post__tip-button {
    display: -webkit-inline-box;
    place-items: center;
    height: 100%;
    padding: 6px 1px;
    background-color: transparent;
    color: inherit;
    min-width: 71px;
    text-align: center;
    border: none;
    font-weight: 500;
    border-radius: 10px;
}

.donation-package__wrapper {
    flex: 1 1 calc(25% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 3px solid #191d2a;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--donation-box-shadow-color);
    transition: all .3s;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #0000005e;
    max-width: calc(25% - 30px);
}

.donation-package__name {
    font-size: 22px;
    font-weight: 900;
    color: #90e0ac;
    text-decoration: underline;
    font-family: JetBrains Mono;
}

.donation-package__description {
    font-size: 14px;
    color: #d5d5d5;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    background: #3b4252;
    border-radius: 5px;
    font-family: Roboto;
}

.post__tip-stats dt {
    font-weight: 400;
    font-family: Roboto;
    color: skyblue;
}

.post__tip-stats dt::after {
    content: ":";
    margin-right: .1ch;
    vertical-align: 0px;
}

.post__tip-stats {
    grid-area: tip-stats;
    display: inline-flex;
    margin-bottom: 0;
    background: #2121215e;
    border-radius: 3px;
}

.post__tip-stats::before {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/capy-coins.svg');
    margin-top: 1px;
    margin-left: 6px;
    margin-right: 3px;
}

.comment__author-title {
    font-size: 13px;
    text-align: center;
    background: #ffffff17;
    border-radius: 5px;
    font-family: JetBrains Mono;
    color: #90e2ad;
    line-height: 16px
}

.dialog__heading {
    padding: 14px 18px;
    color: #daf2f2;
    line-height: 1.5;
    text-align: center;
    font-size: 15px;
    font-family: JetBrains Mono;
    background: #24272f;
    border: 1px solid #182026;
    border-radius: 18px 18px 0 0;
    text-shadow: 1px 2px 0px #000;
}

.bbcode-rendered.bbcode-rendered img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: #3b425200;
}

.meta__ids {
    grid-area: ids;
    display: flex;
    column-gap: 0;
    list-style-type: none;
    margin: -10px;
    padding: 0;
    align-items: center;
    background: #333a4878;
    max-width: max-content;
    border-radius: 10px;
}

.footer__sub-footer {
    border-top: 1px solid var(--footer-hr-fg);
    display: grid;
    grid-template: "libraries stats" auto "libraries copyright" auto/auto auto;
    width: 44vw;
    max-width: 100%;
    padding: 4px;
    margin-top: 20px;
    border-bottom: 1px solid var(--footer-hr-fg);
    border-right: 1px solid var(--footer-hr-fg);
    border-left: 1px solid var(--footer-hr-fg);
    border-radius: 5px;
    background: #191d2a4a;
    font-family: Roboto;
    background: radial-gradient(circle at top right, #23d1a508, #2328334f) !important;
    border-bottom: thin solid #324041a1;
    border-right: thin solid #324041a1;
    border-left: thin solid #324041a1;
    border-top: thin solid #324041a1;
}

.footer__copyright {
    grid-area: copyright;
    margin: 0;
    font-size: 12px;
    text-align: right;
    color: wheat;
}

.footer__section-title {
    font-size: 15px;
    margin: -5px;
    font-weight: 400;
    font-family: JetBrains Mono;
    color: #5a96ca;
    background: #343a488f;
    max-width: max-content;
    border-radius: 10px;
    padding: 0px 3px;
    border: 1px solid #27292d;
}

.post__content.post__content.post__content {
    background-color: #434c5e;
    font-size: 16px;
    font-family: Roboto;
}

.bbcode-rendered.bbcode-rendered .bbcode-rendered__note::before {
    content: "▫️𝗡𝗼𝘁𝗲:";
    color: var(--bbcode-rendered-attention-subtle);
    display: inline-block;
    padding-right: 0.4ch;

}

.bbcode-rendered.bbcode-rendered .bbcode-rendered__alert::before {
    content: "▫️𝗔𝗹𝗲𝗿𝘁: ";
    color: var(--bbcode-rendered-danger-fg);
    display: inline-block;
    padding-right: 0.4ch;
}

.footer__section-list {
    list-style: url("https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/circulo-cbr-footer.svg");
    font-size: 13px;
    font-family: Roboto;
    margin-left: 15px;
    margin-top: 1px;
    gap: normal;
    display: flex;
}

.quick-search__input {
    width: 100%;
    background-color: inherit;
    border: none;
    font-size: 13px;
    padding: 1px 0 1px 8px;
    color: #fff;
    font-family: Roboto;
}

.chatbox-message__content {
    font-size: 16px;
    font-family: Roboto;
    border-radius: 0 10px 10px 0px;
    background: #2e3440;
    max-width: max-content;
}

.chatbox-message::before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: -8px;
    width: 0;
    border-right: 10px solid #2c323d;
    border-top: 10px solid transparent;
}

.chatbox-message__time::before {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/time-post.svg');
    vertical-align: -1px;
    margin-left: -7px;
    margin-right: 1px;
}


.chatbox-message__time {
    display: inline-block;
    font-size: 11px;
    font-family: Roboto;
    color: #d8dee9;
    position: unset;
    padding: 7px 4px 4px 0px;
}

.chatbox-message__avatar {
    width: 34px;
    height: 33px;
    border-radius: 20%;
    margin-bottom: -4px;
    margin-left: -3px;
    box-shadow: rgba(0, 0, 0, 0.64) 0px 5px 15px;
}

.post__avatar {
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.64) 0px 5px 15px;
}

.nav-tab-menu__items .nav-tab__link {
    padding: 2px 3px 2px 0px;
    width: 100%;
    border: 2px solid #43523b;
    border-radius: 10px;
}

.chatroom__whispers {
    grid-area: whispers;
    font-size: 12px;
    padding: 2px 4px;
    color: yellow;
    font-family: Roboto;
}

.chatroom__whispers:before {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/keyboard-solid.svg');
    vertical-align: -2px;
    margin-left: 2px;
    margin-right: 2px;
}

.post__datetime {
    grid-area: datetime;
    word-spacing: -1px;
}

.post__datetime {
    grid-area: datetime;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    font-family: Roboto;
    word-spacing: -1px;
}

.key-value dd {
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    font-family: Roboto;
}

.user-tag__link {
    font-family: inherit;
    display: inline-flex;
    white-space: nowrap;
    align-items: baseline;
    vertical-align: 2px;
}

.form__standard-icon-button--skinny {
    padding-left: 2px;
    padding-right: 2px;
    min-width: unset;
    background: none !important;
}

.fas.fa-bell {
    color: goldenrod !important;
}

.notification--unread {
    border-left: 3px solid var(--notification-unread) !important;
}

.torrent-search--list__resolution {
    color: #87f79a;
    font-family: Roboto;
    background: #2c323d;
    border-radius: 6px;
}

.fas.fa-thumbtack.torrent-icons__sticky {
    color: #c5fdc5;
}

.user-tag__link {
    font-family: inherit;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    margin: auto;
}

.user-tag__link {
    margin-left: .3ch;
}

.fas.fa-thumbtack {
    color: #f66;
}

.topic-listing__post-stats,
.topic-listing__view-stats {
    margin: -4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    background: #27292d;
    border-radius: 5px;
    font-family: Roboto;
}

.topic-tag--approved::after {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/aprovado-tag.svg');
    vertical-align: -1px;
    margin-left: 3px;
    margin-right: 0px;
}

.topic-tag--denied::after {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/reprovado-tag.svg');
    vertical-align: -3px;
    margin-left: 3px;
    margin-right: 0px;
}

.topic-tag--approved {
    background-color: var(--forum-tag-approved-bg);
    color: var(--forum-tag-approved-fg);
    max-height: 16px;
}

.topic-tag--implemented::after {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/implementaded.svg');
    vertical-align: -2px;
    margin-left: 2px;
    margin-right: 0px;
}

.topic-posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.topic-listing__latest-post-link::before {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/bj/clock-regular.svg');
    vertical-align: 0px;
    margin-right: 0px;
}

.torrent-search--list__age {
    font-size: 16px;
    font-family: Roboto;
    border-bottom: 1px solid #3b4252 !important;
    border-right: 1px solid #3b4252 !important;
    color: #43a4fb !important;
}

.torrent-search--list__sticky-row td {
    background-color: #191d2a !important;
    border-bottom: none !important;
}

.torrent-search--grouped__dropdown>summary {
    cursor: pointer;
    list-style: none;
    font-size: 15px;
    border-top: 1px solid var(--torrent-group-header-bg);
    padding: 8px 6px 8px 16px;
    font-family: Roboto;
    font-weight: 400;
}

.torrent-search--list__format {
    grid-area: format;
    background: #2c323dbf !important;
    font-family: Roboto;
}

.row-flags__wrapper {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-top: 8px;
    background: #2c323d69 !important;
    font-family: Roboto;
    border-radius: 3px;
}

.post__toolbar {
    font-size: 13px;
    color: var(--post-toolbar-fg);
    border-radius: 10px 0 0 0 !important;
}

.form__select {
    background-color: inherit;
    background: var(--select-icon);
    background-size: 26px;
    background-position: calc(100% - 4px) center;
    background-repeat: no-repeat;
    border: var(--select-border);
    border-radius: var(--select-border-radius);
    color: var(--select-fg);
    font-size: 14px;
    font-weight: 400;
    height: 38px;
    max-width: max-content !important;
    outline: none;
    padding: var(--select-padding);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 12px;
}

.torrent-search--list__overview {
    color: var(--torrent-row-fg);
    font-family: Roboto;
    border: thin #2c323d !important;
}

.fas.fa-coins {
    color: #ffc00a;
}

.user-torrents {
    width: max-content;
    max-width: 93vw !important;
    align-self: center;
}

.panelV2> :nth-child(2) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    max-width: 98vw !important;
}

.torrent-search--list__ratings-header.torrent-search--list__ratings-header {
    text-align: left;
    min-width: 70px;
    color: #d8dee9;
}

.meta__title::before {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/trackers/favicon-aither.svg');
    vertical-align: -1px;
    width: 15px;
    display: inline-grid;
    margin-left: 1px;
}


.fa-clock-four::before,
.fa-clock::before {
    content: "";
    color: white;
}

.torrent-featured-card__timeleft {
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.user-stat-card__username {
    grid-area: username;
    padding: 4px;
    margin: 0;
    background: #2c323d69 !important;
    font-family: Roboto;
    border-radius: 10px;
}

.fa-feed::before,
.fa-rss::before {
    content: "";
    color: #f94b07;
}

.top-nav__branding:hover {
    text-shadow: 0 0 25px rgba(187, 130, 241, .55);
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

.post__topic {
    grid-area: topic;
    margin-top: -4px;
    margin-left: -5px;
    color: #fff;
    text-transform: lowercase;
    font-size: 15px;
}

.fa-home-alt::before,
.fa-home-lg-alt::before,
.fa-home::before,
.fa-house::before {
    content: "";
    margin-bottom: 6px !important;
}

.data-table>thead>tr>th {
    background-color: #343a48;
    border-bottom: var(--data-table-thead-border);
    text-align: left;
    padding: 7px;
    font-size: 12px;
    font-weight: 700;
}

.fas.fa-sort-amount-down {
    color: #3a8bd4;
}

.fas.fa-comment-dots,
.fa-comment-dots::before,
.fa-commenting::before {
    content: "" !important;
    color: seagreen;
}

.panelV2> :not(:has(~ :not([style*="display: none"]))) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background-color: #343a48;
}

.fab.fa-telegram {
    color: #3b9bee;
}

.topic-listing__figure {
    grid-area: figure;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}

.topic-listing__header {
    grid-area: header;
    padding: 0 21px;
}

.topic-listing__forum {
    font-size: 10px;
    text-align: center;
    margin-left: 20px;
}

.fad.fa-comments.topic-listing__icon {
    margin-left: 15px
}

.fas.fa-thumbtack {
    margin-left: 15px
}

.fas.fa-lock {
    margin-left: 15px;
    color: green;
}

.subforum-listing__latest-post-link {
    background: radial-gradient(circle at top right, #23d1a508, #157d631c) !important;
    border-bottom: thin solid #324041a1;
    border-right: thin solid #324041a1;
    border-left: thin solid #324041a1;
    border-top: thin solid #324041a1;
}

.subforum-listing__topic-stats,
.subforum-listing__post-stats {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    background: #2c323d;
    border-radius: 5px;
    font-family: Roboto;
}

.panel__header {
    margin-top: 4px;
    display: ruby-base-container;
}

.key-value__group:first-child {
    padding-top: var(--key-value-padding);
    font-family: Roboto;
    color: #e1e1e1;
}

.key-value__group:last-child {
    padding-bottom: var(--key-value-padding);
    font-family: Roboto;
}

.top-nav__ratio-bar a {
    color: var(--top-nav-ratio-bar-fg);
    text-decoration: none;
    margin-left: 3px !important;
    margin-right: 3px !important;
}

.far.fa-sign-out {
    color: #ff4545;
}

.nav-tab--active__link::before {
    content: url("https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/trackers/arrow-right-solid(1).svg");
    vertical-align: middle;
}

.special-event-alert>.alert__content {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.random__media a {
    color: #fff;
    font-weight: bold;
    font-family: JetBrains Mono;
}

.media__title {
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    background: #2e344078;
    padding: 5px;
    font-family: Roboto;
    max-width: max-content;
    border-radius: 0 10px 0 0;
}

.media__title::before {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/bars-solid.svg');
    vertical-align: -1px;
    width: 10px;
    display: inline-grid;
    margin-left: 1px;
}

.torrent-search--list__resolution-and-type {
    display: flex;
    flex-direction: column;
    color: #faf5d9;
    border-radius: 8px;
    padding: 2px 6px;
    text-align: center;
    background-color: #3b4252 !important;
    font-family: Roboto;
}

.top-nav__profile-image {
    width: 32px;
    height: 32px;
    border-radius: var(--top-nav-icon-bar-icon-border-radius);
    border: 2px solid #4260bf;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.profile__avatar {
    grid-area: avatar;
    align-self: start;
    border-radius: 10%;
    width: 180px;
    height: 180px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.panelV2 {
    background-color: #2c323d;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #262b35;
    font-family: Roboto;
}

.panelV2.blocks__featured {
    margin-top: -6px
}

.subforum-listings__item:nth-child(2n) {
    list-style-type: none;
    background: #2c323d80;
}

.page__forum--topic>article>div>section>.panel__body {
    background-color: transparent;
    padding:
        12px 0 0px;
}

.torrent-search--list__size {
    background: #2d323d !important;
    font-size: 14px !important;
    font-family: JetBrains Mono;
    color: #81a1c1;
}

.torrent-search--list__rating,
.torrent-search--list__seeders,
.torrent-search--list__seeders,
.torrent-search--list__leechers,
.torrent-search--list__completed {
    background: #2e34409e !important;
    font-size: 14px !important;
    font-family: JetBrains Mono;
    color: #81a1c1;
}

.blocks__online {
    background: #2e3440ab;
    font-family: JetBrains Mono;
}

.torrent-icons {
    grid-area: icons;
    letter-spacing: 5px;
    font-size: 16px;
    align-items: center;
    max-width: max-content;
    border-radius: 3px;
}

.torrent-icons__thanks::before,
.torrent-icons__comments::before {
    letter-spacing: -6px;
}

.torrent-search--list__age ::before {
    content: url("https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/bj/clock-regular.svg");
    vertical-align: top;
}

i.fas.fa-plus-circle.fa-pull-right {
    color: #ebcb8b !important;
    display: block;
    margin-top: 3px;
}

i.fas.fa-minus-circle.fa-pull-right {
    color: #df766b !important;
    display: block;
    margin-top: 3px;
}

.mediainfo dt {
    padding-left: 6px;
    margin-left: 3px;
    margin-right: -39px;
    font-family: Roboto;
    color: #4af;
    font-weight: 500;
    background: #2c323d6e;
}

.mediainfo__audio {
    background: #2c323d;
    max-width: unset;
    border-radius: 5px;
    border: 2px solid #252a34;
    margin:
        auto;
}

div.panel__body.torrent-search--poster__results {
    background:
        #272c36 !important;
    color: #fcaf11;
}

.torrent-search--poster__title {
    color: white !important;
    background: #2e3440;
    border-radius: 10px;
    max-width: max-content;
    font-weight: 500;
}

.mediainfo__filename::before {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/bars-solid.svg');
    vertical-align: -1px;
    width: 10px;
    display: inline-grid;
    margin-left: 1px;
    margin-right: -6px;
}

.mediainfo__audio::before {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/images/audio-bj.svg');
    vertical-align: -1px;
    width: 10px;
    display: inline-grid;
    margin-left: 11px;
    margin-right: -7px;
}

.mediainfo__subtitles::before {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/trackers/legenda-cbr.svg');
    vertical-align: -1px;
    width: 15px;
    display: inline-grid;
    margin-left: 1px;
    margin-right: 1px;
}

.mediainfo__subtitles {
    background: #2e344096;
    max-width: max-content;
    border: 2px solid #2c323d21;
    margin-left: 3px;
    border-radius: 10px;
    padding: 0px 2px;
    margin-top: 4px;
}

.mediainfo h3 {
    display: unset;
    font-family: inherit;
    color: #bbb;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin: 3px 5px;
    padding: 0;
}

.torrent-icons__media-tags {
    display: flex;
    height: 15.5px;
    margin-right: 4px;
    background-color: #fff;
    mix-blend-mode: unset;
    padding: 2px 2px;
    border-radius: 4px;
    margin-bottom: -5px;
}

.article-preview__image {
    float: right;
    max-height: 50px;
    max-width: 300px;
    grid-area: image;
    border-radius: 31px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.article-preview {
    padding: 19px;
    border-radius: 5px;
    background-color: #252a34;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.article-preview__title {
    font-size: 18px;
    background: #2e3440;
    max-width: max-content;
    font-family: JetBrains Mono;
    border: 2px solid #3b4252;
    border-radius: 10px;
}

.article-preview__title::before {
    content: url("https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/trackers/noticias-cbr.svg") !important;
    vertical-align: -1px;
    width: 16px;
    display: inline-grid;
    margin-left: 1px;
    margin-right: -10px;
}

.torrent-search--list__name:visited {
    color: #56afb2;
}

.quick-search__inputs {
    position: absolute;
    display: flex;
    height: 100%;
    background: #3b4252;
    border-radius: 10px;
}

.filmclub__torrent_links {
    color: var(--color-links-colored) !important;
    background: #343a48;
    border-radius: 10px;
}

.panel__tab--active::before {
    content: url('https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/trackers/grip-aither.svg');
}

.chatroom__messages {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 2px;
    padding: 0 10px;
    margin: 0;
    align-items: flex-start;
}

i.fas.fa-user-astronaut {
    color: #3ec2ff
}

.torrent-search--list__poster-img {
    width: 54px;
    height: 81px;
    border-radius: 5px;
    margin-left: -4px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

i.fas.fa-magic {
    color: #BAAF92;
}

i.fas.fa-star {
    color: #ebcb8b;
}

.top-nav__icon-bar {
    list-style-type: none;
    background: #242932;
    border-radius: 22px;
    border: 2px solid #4c566a;
    padding: 3px 3px;
}

.featured-carousel__featured-by {
    color: #EBE9E9;
    background: #242932;
}

.subforum-listing__post-stats dd {
    margin: 0;
    font-family: JetBrains Mono;
    color: #2c93e6;
}

.notification--unread {
    background: #2d313b !important;
    font-family: JetBrains Mono;
    font-size: 14px !important;
}

.votes__like {
    background: #68ff0008;
    border-radius: 10px;
    margin-top: 0px;
}

.votes__dislike {
    background: #7a3e3e24;
    border-radius: 10px;
    margin-top: 0px;
}

.quick-search {
    position: relative;
    max-width: 391px;
    flex-grow: 1;
    z-index: 5;
    height: 36px;
    padding: 4px 5px;
}

.bbcode-rendered.bbcode-rendered details summary {
    cursor: pointer;
    display: unset;
    color: #2e3440;
    background: #b7bec2;
    border-radius: 5px;
    padding: 0px 3px;
    font-size: 13px;
    border: 2px solid #729afd;
}

td.torrent-search--grouped__leechers {
    grid-area: completed;
    width: 2%;
    background: #2c323da6;
}

td.torrent-search--grouped__seeders {
    grid-area: seeders;
    width: 2%;
    background: #0b1e0254;
}

td.torrent-search--grouped__completed {
    grid-area: completed;
    width: 2%;
    background: #2c323da6;
}

td.torrent-search--grouped__size {
    grid-area: size;
    width: 5.5%;
    color: #c8f3ff;
    background: #2f353f;
}

td.torrent-search--grouped__age::before {
    content: url("https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/bj/clock-regular.svg");
}

.topic-listings__item:nth-child(2n) {
    background-color: #2c323d;
}

.top-nav--left__container {
    vertical-align: baseline;
    color: #37c6ff;
    display: inline;
    text-shadow: 3px 2px 0px #0b0a0a;
}

.pagination__current {
    font-weight: 900;
    background-color: var(--paginate-bg-current);
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    color: #32bdea;
    cursor: default;
}

.data-table tr:nth-child(2n)>td {
    background-color: #2c323d6e;
}

div:where(.swal2-container).swal2-center>.swal2-popup {
    grid-column: 2;
    grid-row: 2;
    place-self: center center;
    background: white;
    font-family: Roboto;
}

svg>circle:first-child {
    stroke: #dfd4d4;
}

svg>circle:last-child {
    fill: #48baff;
}

/*
░░░░░░░░░░░
"𝘉𝘰𝘯𝘪𝘴 𝘯𝘰𝘤𝘦𝘵, 𝘲𝘶𝘪 𝘮𝘢𝘭𝘪𝘴 𝘱𝘢𝘳𝘤𝘪𝘵."
░░░░░░░░░░░
*/
